Django
gspread
alembic==0.8.9
click==6.7            
Flask      
Flask-Assets
Flask-Babel
Flask-Script
httplib2
itsdangerous==0.24    
Jinja2==2.9.4         
Mako==1.0.6           
MarkupSafe==0.23      
oauth2==1.9.0.post1
pycparser==2.14       
python-editor==1.0.3  
requests
webassets==0.12.0
Werkzeug==0.11.15     
gunicorn==19.6.0
beautifulsoup4
line-bot-sdk
imgurpython==1.1.7
